<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/logo.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form>
                <input name="email" type="text" placeholder="email@mail.com">
                <input name="password" type="password" placeholder="password">
                <div class="login-buttons">
                    <button class="login-button">Login</button>
                    <button>Sing up</button>
                </div>
            </form>
        </div>
    </div>
</body>
