body{
    margin: 0;
}
button{
    border: 1px solid #707070;
    border-radius: 41px;   
    width: 10vw;
    border: none;
    margin: 1em;
    line-height: 2.5em;
}

.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
nav{
    width: 20vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #D74ED4 0%, #352E78 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav > img {
    width: 70%;
    margin: 2em auto;
}

a{
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    line-height: 2em;
}

li i{
    font-size: 1.5em;
}

.button{
    border: 1px solid whitesmoke;
    border-radius: 13em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 0.2em;
    width: 60%;
}
ul{
    list-style-type: none;
    color: whitesmoke;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0.72px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    position: relative;
}
li{
    text-align: left;
    margin-bottom: 1em;
}
li:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;

}

.fa, .fas{
    font-weight: 900;
    width: 1em;
}

main{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    background: #362E79D6 0% 0% no-repeat padding-box;
    color: #EAE8F3D6 0% 0% no-repeat padding-box;;
    height: 6vh;
    align-items: stretch;
    padding-left: 1em;
    padding-right: 1em;
}

.menu{
    margin:auto 0;    
}

.user-profil{
    margin:auto 0;
}

.logo-in-bar{
    margin: 1em;
    height: 60%;
}

.project{
    display: flex;
    flex-direction: row;
}

.map{
    height: 94vh;
    width: 40vw;
    background-color: rgb(251, 207, 40);
    background-image:  url(https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&h=600);
    background-size: auto;
    background-position: left top;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:  stretch;
}
.miasto{
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    background-color: rgba(208, 24, 196, 1);
    background-image: radial-gradient(circle, rgba(208, 24, 196, 1) 0%, rgba(3, 12, 39, 1) 50%);
    color: whitesmoke;
}

.info-board{
    background: transparent linear-gradient(180deg, #D74ED4 0%, #352E78 100%) 0% 0% no-repeat padding-box;
    width: 40vw;
    height: 94vh;
}

.name-of-place{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: auto;
    color: #352E78;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 8em;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.fa-map-marker-alt{
    margin-top: 1em;
}
